# Ignore system and IDE files
.DS_Store
.idea/
.node_modules
.node
node_modules/
.nuxt/
dist/
.cache
DEPLOYMENT.md
AGENTS.md

# Other directories
.content/
.app/

# Environment files
.env

# Ignored structure
.data/

# Ignore AI traces
.claude/
